In [1]:
import pandas as pd

# Path to your Excel file
file_path = "A:/Data analysis projects/Datasets/CRM_sales.xlsx"

# List of sheet names or indices you want to import (e.g., first 5 sheets)
sheets = ['accounts', 'Products', 'Sales_pipeline', 'CRM_Sales_opportuinity']

# Read multiple sheets into a dictionary of DataFrames
dfs = pd.read_excel(file_path, sheet_name=sheets)

# Access each sheet as a DataFrame
dfaccounts = dfs['accounts']
dfproducts = dfs['Products']
dfsalespipeline = dfs['Sales_pipeline']
dfsalesopp = dfs['CRM_Sales_opportuinity']

In [2]:
dfaccounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           85 non-null     object
 1   sector            85 non-null     object
 2   year_established  85 non-null     int64
 3   revenue           85 non-null     float64
 4   employees         85 non-null     int64
 5   office_location   85 non-null     object
 6   subsidiary_of     15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.8+ KB

In [3]:
dfaccounts.loc[dfaccounts['subsidiary_of'].notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 6 to 74
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           15 non-null     object
 1   sector            15 non-null     object
 2   year_established  15 non-null     int64
 3   revenue           15 non-null     float64
 4   employees         15 non-null     int64
 5   office_location   15 non-null     object
 6   subsidiary_of     15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 960.0+ bytes

In [4]:
dfaccounts.merge(dfsalespipeline, 
                 left_on='account',
                 right_on='account',
                 how='inner')[['account','subsidiary_of']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7375 entries, 0 to 7374
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   account        7375 non-null   object
 1   subsidiary_of  1292 non-null   object
dtypes: object(2)
memory usage: 115.4+ KB

In [5]:
dfsalespipeline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   datetime64[ns]
 6   close_date      6711 non-null   datetime64[ns]
 7   Revenue         6711 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 550.1+ KB

In [6]:
# Get deal time in days
dfsalespipeline['dealtime'] = (dfsalespipeline['close_date'] - dfsalespipeline['engage_date']).dt.days

In [7]:
dfmerged=dfaccounts.merge(dfsalespipeline, 
                 left_on='account',
                 right_on='account',
                 how='inner')
dfmerged.loc[dfmerged['subsidiary_of'].notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1292 entries, 458 to 6620
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           1292 non-null   object
 1   sector            1292 non-null   object
 2   year_established  1292 non-null   int64
 3   revenue           1292 non-null   float64
 4   employees         1292 non-null   int64
 5   office_location   1292 non-null   object
 6   subsidiary_of     1292 non-null   object
 7   opportunity_id    1292 non-null   object
 8   sales_agent       1292 non-null   object
 9   product           1292 non-null   object
 10  deal_stage        1292 non-null   object
 11  engage_date       1260 non-null   datetime64[ns]
 12  close_date        1160 non-null   datetime64[ns]
 13  Revenue           1160 non-null   float64
 14  dealtime          1160 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(8)
memory usage: 161.5+ KB

In [8]:
dfmerged = dfmerged.loc[dfmerged['subsidiary_of'].notnull()]

In [9]:
dfproducts.info()
dfproducts.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product      7 non-null      object
 1   series       7 non-null      object
 2   sales_price  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

0

In [10]:
dfsalesopp.info()
dfsalesopp.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_agent      35 non-null     object
 1   manager          35 non-null     object
 2   regional_office  35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

0

In [11]:
dfsalespipeline.info()
dfsalespipeline.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   datetime64[ns]
 6   close_date      6711 non-null   datetime64[ns]
 7   Revenue         6711 non-null   float64
 8   dealtime        6711 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 618.9+ KB

0

In [12]:
dfmerged.duplicated().sum()

0

In [13]:
import sqlalchemy as sa

connection_url = sa.engine.URL.create(
    "mssql+pyodbc",
    host=".\sql22",
    database="CRM_sales",
    query={
        "driver" : "ODBC Driver 17 for SQL Server",
        "TrustedServerCertificate": "yes",
        "MARS_Connection" : "yes",
        "trusted_connection" :"yes"
    }
)
sqlalch_db = sa.create_engine(connection_url)
conn = sqlalch_db.connect()

In [14]:
table1 = 'Accounts'
dfaccounts.to_sql(table1 , con=conn, if_exists='append', index=False, schema='dbo')

85

In [15]:
table2 = 'Products'
dfproducts.to_sql(table2, con=conn, if_exists='append', index=False, schema='dbo')

7

In [16]:
table3 = 'Sales_Opportunity'
dfsalesopp.to_sql(table3, con=conn, if_exists='append', index=False, schema='dbo')

35

In [17]:
table4 = 'Sales_Pipeline'
dfsalespipeline.to_sql(table4, con=conn, if_exists='append', index=False, schema='dbo')

179

In [18]:
dfmerged = dfmerged.rename(columns={'revenue':'account_revenue','Revenue':'agent_revenue'})

In [19]:
dfmerged.columns

Index(['account', 'sector', 'year_established', 'account_revenue', 'employees',
       'office_location', 'subsidiary_of', 'opportunity_id', 'sales_agent',
       'product', 'deal_stage', 'engage_date', 'close_date', 'agent_revenue',
       'dealtime'],
      dtype='object')

In [20]:
table5 = 'merged_sales'
dfmerged.to_sql(table5, con=conn, if_exists='append', index=False, schema='dbo')

41